* {
    background-color: lightgray;
}

body {
    margin-left: 0px;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 500ms;
}

img:hover {
    transform: scale(1.05);
    /* opacity: 0.3; */
    
}

h1 {
    font-size: 4em;
    border-bottom: 2px solid black;
    font-style: italic;
    text-decoration: wavy;
    /* text-decoration: underline; */
    /* text-decoration-thickness: 3px ; */
    width: 500px;
    border-right: 4px solid black;
    box-shadow: 2px 2px;
    text-align: center;
    font-family: 'Calligraffitti', cursive;
}

h5 {
    text-align: right;
    font-family: fantasy, cursive;
    font-weight: 200;
    font-size: x-large;

}

footer {
    /* border-top: 2px solid black; */
    text-align: center;
    font-size: large;
    font-family: 'Calligraffitti', 'cursive';
    font-weight: bold;
}
